@media screen and (max-width: 480px) {
    body {
        background-color: rgb(32, 15, 86) !important;
    }

    #header {
        display: none;
    }

    .main__container {
        display: flex;
    }

    .container__content {
        padding-left: 15px;
        width: 100%;
        max-width: 100%;
    }

    

     /* ==== PLAYLISTS ==== */

     .carousel__ {
         display: flex;
         gap: 20px;
     }

     .carousel__ article {
         display: flex;
         flex-direction: column;
         width: 700px;
     }

     #playlist .carousel__ img {
         border-radius: 20px;
         width: 400px;
         min-width: 100%;
         height: 200px;
         cursor: pointer;
         margin-bottom: 15px;
         margin-top: 10px;
     }

    /* ====   ==== */

    /* ==== PROFILE AND TRACKS ==== */
    .profile__tracks__section {
        display: flex;
        flex-direction: column;
    }

    /* ==== TRACKS ==== */
    
    #tracks .carousel__ img {
        border-radius: 5px;
        width: 150px;
        min-width: 100%;
        height: 100px;
        cursor: pointer;
        margin-bottom: 15px;
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) {

}